@model SpisZaginionychOsobMVC.Models.LostPerson

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły osoby zaginionej</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Wiek
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Płeć
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.HasPermissions(SpisZaginionychOsobMVC.Enums.Roles.ContentEditor))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
        <br />
    }
    @Html.ActionLink("Powrót do spisu", "Index")
</p>
