@model IEnumerable<SpisZaginionychOsobMVC.Models.LostPerson>
@{

    ViewBag.Title = "Lista osób zaginionych";
    var dropdownList = new List<SelectListItem> {
          new SelectListItem { Text="Wszystkie płcie",Value="All", Selected = true},
          new SelectListItem { Text="Mężczyźni", Value=SpisZaginionychOsobMVC.Enums.Genders.Meżczyzna.ToString()},
          new SelectListItem { Text = "Kobiety", Value = SpisZaginionychOsobMVC.Enums.Genders.Kobieta.ToString()}
                      };
    foreach (var item in dropdownList)
    {
        if(item.Value == ViewBag.activeFilter)
        {
            item.Selected = true;
        }else
        {
            item.Selected = false;

        }
    }
}
<h2>
    Lista osób zaginionych
</h2>
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Wiek
        </th>
        <th >
     
    @Html.DropDownList("Filtr płci",
                     dropdownList,
                      new
                      {
                         
                          @onchange = "GenderFilterChanged(this.value)",
                          htmlAttributes = new
                          {
                              @class = "form-control"
                          }
                          })

            
        </th>
        <th>Akcje</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Szczegóły</button>
                @if (User.HasPermissions(SpisZaginionychOsobMVC.Enums.Roles.ContentEditor))
                {
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Edytuj</button>
                }
                @if (User.HasPermissions(SpisZaginionychOsobMVC.Enums.Roles.Admin))
                {
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Usuń</button>
                }
            </td>
        </tr>
    }
</table>
@if (User.HasPermissions(SpisZaginionychOsobMVC.Enums.Roles.ContentEditor))
{
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Nowa zaginiona osoba :(</button>

}
<script>
    function GenderFilterChanged(value)
    {
        window.location.href = "/LostPeople/Index?genderFilter=" + value;
    }
</script>